body, html {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: inherit; }

body {
  background-color: #333;
  color: #900; }

div {
  border: 1px solid #900;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transition: 0.7s;
  transition: 0.7s; }
